**/node_modules/
**/dist/

.env
client/.env.local
client/.env.development
client/.env.production
server/.env

client/.next/

.DB_Store
Thumbs.DB_Store
.vscode/

server/shared-local-instance.DB_Store
server/dynamodb-local-metadata.json
shared-local-instance.db